<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © MageSpecialist - Skeeller srl. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Adapters pool -->
    <type name="MSP\Notifier\Model\AdapterRepository">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="telegram" xsi:type="object">MSP\NotifierCoreAdapters\Model\Adapter\Telegram</item>
                <item name="slack" xsi:type="object">MSP\NotifierCoreAdapters\Model\Adapter\Slack</item>
                <item name="email" xsi:type="object">MSP\NotifierCoreAdapters\Model\Adapter\Email</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msp_notifiercoreadapters_telegram_chat_id"
                      xsi:type="object">MSP\NotifierCoreAdapters\Command\Telegram\GetChatIds</item>
            </argument>
        </arguments>
    </type>

    <!-- Telegram adapter -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\Adapter\Telegram" type="MSP\Notifier\Model\Adapter">
        <arguments>
            <argument name="engine" xsi:type="object">MSP\NotifierCoreAdapters\Model\AdapterEngine\Telegram</argument>
            <argument name="validatorChain" xsi:type="object">
                MSP\NotifierCoreAdapters\Model\AdapterEngine\ValidatorChain\Telegram
            </argument>
            <argument name="code" xsi:type="string">telegram</argument>
            <argument name="name" xsi:type="string">Telegram</argument>
            <argument name="description" xsi:type="string">Telegram Messenger</argument>
        </arguments>
    </virtualType>

    <!-- Telegram validators -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\AdapterEngine\ParamsValidator\Telegram\Required"
                 type="MSP\Notifier\Model\AdapterEngine\ParamsValidator\Required">
        <arguments>
            <argument name="requiredParams" xsi:type="array">
                <item name="to" xsi:type="string">chat_id</item>
                <item name="token" xsi:type="string">token</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Telegram validators pool -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\AdapterEngine\ValidatorChain\Telegram"
                 type="MSP\Notifier\Model\AdapterEngine\ValidatorChain">
        <arguments>
            <argument name="messageValidators" xsi:type="array">
                <item name="required"
                      xsi:type="object">MSP\Notifier\Model\AdapterEngine\MessageValidator\Required</item>
            </argument>
            <argument name="paramsValidators" xsi:type="array">
                <item name="required"
                      xsi:type="object">MSP\NotifierCoreAdapters\Model\AdapterEngine\ParamsValidator\Telegram\Required</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Slack adapter -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\Adapter\Slack" type="MSP\Notifier\Model\Adapter">
        <arguments>
            <argument name="engine" xsi:type="object">MSP\NotifierCoreAdapters\Model\AdapterEngine\Slack</argument>
            <argument name="validatorChain"
                      xsi:type="object">MSP\NotifierCoreAdapters\Model\AdapterEngine\ValidatorChain\Slack</argument>
            <argument name="code" xsi:type="string">slack</argument>
            <argument name="name" xsi:type="string">Slack</argument>
            <argument name="description" xsi:type="string">Slack Messenger</argument>
        </arguments>
    </virtualType>

    <!-- Slack validators -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\AdapterEngine\ParamsValidator\Slack\Required"
                 type="MSP\Notifier\Model\AdapterEngine\ParamsValidator\Required">
        <arguments>
            <argument name="requiredParams" xsi:type="array">
                <item name="to" xsi:type="string">channel</item>
                <item name="token" xsi:type="string">webhook</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Slack validators pool -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\AdapterEngine\ValidatorChain\Slack"
                 type="MSP\Notifier\Model\AdapterEngine\ValidatorChain">
        <arguments>
            <argument name="messageValidators" xsi:type="array">
                <item name="required"
                      xsi:type="object">MSP\Notifier\Model\AdapterEngine\MessageValidator\Required</item>
            </argument>
            <argument name="paramsValidators" xsi:type="array">
                <item name="required" xsi:type="object">
                    MSP\NotifierCoreAdapters\Model\AdapterEngine\ParamsValidator\Slack\Required
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Email adapter -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\Adapter\Email" type="MSP\Notifier\Model\Adapter">
        <arguments>
            <argument name="engine" xsi:type="object">MSP\NotifierCoreAdapters\Model\AdapterEngine\Email</argument>
            <argument name="validatorChain"
                      xsi:type="object">MSP\NotifierCoreAdapters\Model\AdapterEngine\ValidatorChain\Email</argument>
            <argument name="code" xsi:type="string">email</argument>
            <argument name="name" xsi:type="string">Email</argument>
            <argument name="description" xsi:type="string">Email</argument>
        </arguments>
    </virtualType>

    <!-- Email validators -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\AdapterEngine\ParamsValidator\Email\Required"
                 type="MSP\Notifier\Model\AdapterEngine\ParamsValidator\Required">
        <arguments>
            <argument name="requiredParams" xsi:type="array">
                <item name="to" xsi:type="string">to</item>
                <item name="from" xsi:type="string">from</item>
                <item name="from_name" xsi:type="string">from_name</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Email validators pool -->
    <virtualType name="MSP\NotifierCoreAdapters\Model\AdapterEngine\ValidatorChain\Email"
                 type="MSP\Notifier\Model\AdapterEngine\ValidatorChain">
        <arguments>
            <argument name="messageValidators" xsi:type="array">
                <item name="required"
                      xsi:type="object">MSP\Notifier\Model\AdapterEngine\MessageValidator\Required</item>
            </argument>
            <argument name="paramsValidators" xsi:type="array">
                <item name="required" xsi:type="object">
                    MSP\NotifierCoreAdapters\Model\AdapterEngine\ParamsValidator\Email\Required
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
